{% extends 'base.html' %}

    {% block content %}
    <div class="container-wrap"> 
        <h1>Reset new password</h1>    
        <div class="form-row">
            <div class="form-group col-12 pt-8">
                {% if validlink %}
                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Save</button>
                </form>
                {% else %}
                 <p style="color:red;">Invalid token.</p>
                 <p>
                     <a href="{% url 'password_reset' %}">Request new password reset token</a>
                 </p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}